*.pyc
*.swp
*.idea
*.DS_Store*
*coverage_html_report*
.coverage
.coverage.*
.python-version
.vscode
__stdout__
docs/_build
build/
proxypid
proxy.log
MANIFEST
coverage_report
test.log
Test Results*.html
tests/**/*.log
splunk_sdk.egg-info/
dist/
*.observed
venv/
.tox
test-reports/
